*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.firstdiv{
height: 600px;
background-image: url(./images/desktop/image-hero.jpg);
margin-left: 20px;
margin-right: 20px;
padding: 30px;
margin-bottom: 50px;

}
a{
    color: rgb(228, 228, 228);
    
}
.about{
   position: absolute;
   left: 800px;
   top: 60px; 
}
.careeres{
    position: absolute;
    left: 870px;
    top: 60px; 
}
.events{
    position: absolute;
    left: 955px;
    top: 60px; 
}
.products{
    position: absolute;
    left: 1040px;
    top: 60px; 
}
.support{
    position: absolute;
    left: 1140px;
    top: 60px; 
}
.logosvg{
margin-left: 60px;
margin-top: 20px;

}
.first2div{
    width: 570px;
    height: 270px;
background-color: transparent;
margin-top: 100px;
margin-left: 70px;
text-align: left;
font-size: 63px;
padding: 20px;
color: rgb(230, 228, 228);
border: solid rgb(221, 221, 221) 2px;
font-family: 'Josefin Sans', sans-serif;

}
/* seconddiv start */

.interacative{
    margin-top: 80px;
    width: 700px;
    margin-bottom: 30px;
    margin-left: 90px;
}
.second2div{
    width: 460px;
    height: 350px;
    background-color: white;
    position: absolute;
    left: 680px;
   top: 860px;
padding: 40px;
}
h5{
    margin-top: 30px;
    font-size: 34px;
    margin-left: 50px;
    color: rgb(59, 59, 59);

}
.founded{
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(206, 206, 206);
}



