*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.firstdiv{
height: 600px;
background-image: url(./images/desktop/image-hero.jpg);
margin-left: 20px;
margin-right: 20px;
padding: 30px;
margin-bottom: 50px;

}
a{
    color: rgb(228, 228, 228);
    
}
.about{
   position: absolute;
   left: 800px;
   top: 60px; 
}
.careeres{
    position: absolute;
    left: 870px;
    top: 60px; 
}
.events{
    position: absolute;
    left: 955px;
    top: 60px; 
}
.products{
    position: absolute;
    left: 1040px;
    top: 60px; 
}
.support{
    position: absolute;
    left: 1140px;
    top: 60px; 
}
.logosvg{
margin-left: 60px;
margin-top: 20px;

}
.first2div{
    width: 570px;
    height: 270px;
background-color: transparent;
margin-top: 100px;
margin-left: 70px;
text-align: left;
font-size: 63px;
padding: 20px;
color: rgb(230, 228, 228);
border: solid rgb(221, 221, 221) 2px;
font-family: 'Josefin Sans', sans-serif;

}
/* seconddiv start */

.interacative{
    margin-top: 80px;
    width: 700px;
    margin-bottom: 30px;
    margin-left: 90px;
}
.second2div{
    width: 460px;
    height: 350px;
    background-color: white;
    position: absolute;
    left: 680px;
   top: 860px;
padding: 40px;
}
h5{
    margin-top: 30px;
    font-size: 34px;
    margin-left: 50px;
    color: rgb(59, 59, 59);

}
.founded{
    margin-left: 50px;
    margin-top: 30px;
    color: rgb(206, 206, 206);
}
h4{
    margin-top: 90px;
    font-size: 40px;
    margin-left: 100px;

}
button{
    position: absolute;
    left: 1000px;
    top: 1350px;
    width: 160px;
    height: 40px;
   margin-bottom: 40px;
   background-color: transparent;
   font-size: 17px;
   border: rgb(158, 158, 158) solid 2px;
   
}
.deepearth{
    margin-top: 100px;
    margin-left: 100px;
    z-index: -0;
}
.deep-p{
    position: absolute;
    top: 1840px;
    left: 160px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.night-p{
    position: absolute;
    top: 1840px;
    left: 420px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.soccer-p{
    position: absolute;
    top: 1840px;
    left: 700px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.gride-p{
    position: absolute;
    top: 1840px;
    left: 940px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.above{
    margin-top: 20px;
    margin-left: 100px;
    z-index: -0;
}
.above-p{
    position: absolute;
    top: 2330px;
    left: 140px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.pocket-p{
    position: absolute;
    top: 2330px;
    left: 420px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}
.the-p{
    position: absolute;
    top: 2330px;
    left: 700px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}

.make-P{
    position: absolute;
    top: 2330px;
    left: 940px;
    z-index: 3;
    color: whitesmoke;
    font-size: 30px;
}

.thirddiv{
    width: 1200px;
    height: 190px;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.logo2{
    margin-top: 40px;
    margin-left: 80px;
}
ul{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 40px;
    word-spacing: 35px;
}

.facebook{
    /* margin-left: 940px; */
    position: absolute;
   left: 940px;
  margin-top: 50px;
}
.twitter{
    position: absolute;
    left: 990px;
   margin-top: 50px;
}
.pinterest{
    position: absolute;
    left: 1040px;
   margin-top: 50px;
}
.insta{
    position: absolute;
    left: 1090px;
   margin-top: 50px;
}
h6{
    color: gray;
    margin-left: 800px;
  font-size: 17px;

}

